.imgix-item,
#orient-selector,
.slider-cont {
  background: linear-gradient(
    105deg,
    rgb(62, 1, 131),
    rgb(91, 42, 189),
    rgb(126, 1, 228),
    rgb(204, 197, 139)
  );
  border-radius: 10px;
  color: rgb(255, 232, 181) !important;
}

.imgix-item {
  width: calc(100vw / 3 - 32px);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
  transition: 0.2s ease-out;
}

.imgix-item:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.2s;
  z-index: 10;
}

.imgix-item:link {
  background-color: red !important;
}

#orient-selector {
  padding-top: 38.5px;
  padding-bottom: 38.5px;
  padding-left: 30px;
}
.selector-cont {
  margin: 15px;
  width: calc(100vw / 3 - 32px);
}
#rot-slider {
  width: calc(100vw / 3 - 222px);
  padding-left: 10px;
  position: relative;
  margin-left: 10px;
  color: rgb(253, 255, 140);
}
.slider-cont {
  width: calc(100vw / 3 - 32px);
  display: flex;
  flex-direction: row;
  margin: 16px;
  padding-top: 35px;
  padding-bottom: 35px;
}
.slider-cont span {
  font-weight: bold;
  margin-left: 30px;
}
